.timer {
  &__heading {
    font-size : 20px;
    width     : 240px;
    text-align: center;
  }

  &__button {
    margin          : 2px 4px;
    background-color: maroon;
    color           : #fff;
    cursor          : pointer;
    padding         : 2px;
    width           : 76px;
    height          : 76px;
    line-height     : 30px;
    border-radius   : 50%;
  }

  &__control-btn {
    &-wrap {
      width     : 240px;
      text-align: right;



    }
    &--start {
      color           : #fff;
      background-color: maroon;
      padding         : 13px 20px;
      border          : none;
      min-width       : 70px;
      outline         : none;
      cursor          : pointer;
      border-radius   : 20px;
    }

    &--pause {
      margin-right    : 8px;
      color           : #fff;
      background-color: maroon;
      padding         : 13px 20px;
      border          : none;
      min-width       : 70px;
      outline         : none;
      cursor          : pointer;
      border-radius   : 20px;
    }
   
  }

  &__min {
    display    : inline-block;
    width      : 42px;
    height     : 42px;
    line-height: 42px;
    background : none;
    border     : 1px solid #000;
    position   : relative;

    &:hover {

      .up,
      .down {
        display: inline-block;
      }
    }
  }

  &__sec {
    display    : inline-block;
    width      : 42px;
    height     : 42px;
    line-height: 42px;
    background : none;
    border     : 1px solid #000;
    position   : relative;

    &:hover {

      .up,
      .down {
        display: inline-block;
      }
    }
  }

  &__custom-box {
    width: 250px;
  }

  &__quick {
    background-color: black;
    color           : #fff;
    padding         : 7px 17px;
    margin-top      : 5px;
    border          : none;
    outline         : none;
    cursor          : pointer;
    font-size       : large;
    border-radius   : 20px;
  }

  &__startbtn {
    padding         : 8px 25px;
    font-size       : large;
    color           : #fff;
    margin-top      : 20px;
    outline         : none;
    border          : none;
    background-color: maroon;
    border-radius   : 20px;
    cursor          : pointer;
    float           : right;
  }
}

.up {
  display         : inline-block;
  border-left     : 4px solid transparent;
  border-right    : 4px solid transparent;
  border-bottom   : 9px solid #000;
  background-color: lightgrey;
  position        : absolute;
  right           : 0;
  top             : 10px;
  cursor          : pointer;
  display         : none;
}

.up:hover {
  background-color: grey;
}

.down {
  display         : inline-block;
  border-left     : 4px solid transparent;
  border-right    : 4px solid transparent;
  border-top      : 9px solid #000;
  background-color: lightgrey;
  right           : 0;
  bottom          : 10px;
  position        : absolute;
  cursor          : pointer;
  display         : none;
}

.down:hover {
  background-color: grey;
}

.mat-form-field {
  width: 20%;
}

.mat-input-element {
  background-color: black;
  border-radius   : 20px;
  padding         : 20px;
  color           : #fff;
  font-size       : 30px;
  width           : 215px;
  text-align      : center;
}